* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: #fab1a0;
    z-index: -99999;
}

.box-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0ch;
}
@media screen and (max-width: 900px) {
    .box-list {
        grid-template-columns: 1fr 1fr;
    }
    .box{
        width: 150px !important;
        height: 150px !important;
    }
  }

.box {
    overflow: hidden;
    position: relative;
    width: calc(100vh / 4);
    height: calc(100vh / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover .box-hover {
    opacity: 1;
}

.box-hover {
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.box-1 {
    /* background-image: url(../images/ball.gif); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(35 31 32); */
}

.box-2 {
    background-image: url(../images/merry-christmas.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-3 {
    background-color: #fff;
    background-image: url(../images/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.box-4 {
    background-image: url(../images/christmast-tree.gif);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-5 {
    background: #fff;
}

.box-6 {
    background-image: url(../images/christmas-tree-black.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-7 {
    background-image: url(../images/santa-claus.gif);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-8 {
    background-color: rgb(216 35 35);
}

.box-img{
    width: 100%;
}

.box-video{
    height: 100%;
}