* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.wrapper-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
}

.wrapper-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 500;
    opacity: .8;
}

.display-none {
    display: none;
}


.btn-box {
    z-index: 600;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
}

.choose-btn {
    transition: .5s;
    border-radius: 15px;
    border: 4px solid white;
    background-color: transparent;
    color: white;
    z-index: 1000;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
}

.choose-btn:hover {
    background-color: rgb(216, 35, 35);
    color: white;
}

.box-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0;
    column-gap: 0;
}

.box {
    overflow: hidden;
    position: relative;
    width: calc(100vw / 4);
    height: calc(100vh / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
}

.box:hover .box-hover {
    opacity: 1;
}

.box-hover {
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    z-index: 200;
}

.text {
    color: white;
    padding: 15%;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lang-hide {
    display: none;
}

.box-1 {
}

.box-1 .box-video{
    height: 75%;
}

.box-2 {
    background-image: url(../images/merry-christmas.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-3 {}

.box-3 .box-video {
    transform: translateX(-15%);
}

.box-4 {
    background-color: #fff;
    background-image: url(../images/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.box-5 {
    background-image: url(../images/forward-motors.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.box-6 {}

.box-7 {
    background-image: url(../images/happy-new-year.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(216 35 35);
}

.box-8 {}

.box-video {
    object-fit: cover;
    z-index: 100;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .box-list {
        grid-template-columns: 1fr 1fr;
    }

    .box {
        width: calc(100vw / 2);
    }

    .text {
        font-size: 20px;
    }

    .btn-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .box-list {
        grid-template-columns: 1fr;
    }

    .box {
        width: 100vw;
    }

    .text {
        font-size: 16px;
    }

    .btn-box {
        flex-direction: column;
    }
}